# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/integration/e2e/*.js
/integration/e2e/*.map
/integration/e2e/*.d.ts
/integration/src/*.js
/integration/src/*.map
/integration/src/*.d.ts

# System Files
.DS_Store
Thumbs.db

# Build files
/src/demo/*.js
/src/demo/*.map
/src/demo/*.d.ts
/src/lib/*.js
/src/lib/*.map
/src/lib/*.d.ts
