<div>
    <button (click)="view = 1">3D</button>
    <button (click)="view = 2">2D</button>
    <button (click)="view = 3">Thumbnail</button>
</div>

<div *ngIf="view === 1">
    <adsk-forge-viewer [viewerOptions]="viewerOptions3d"
                    (onViewerScriptsLoaded)="setViewerOptions()"
                    (onViewingApplicationInitialized)="loadDocument($event)"
                    (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer>
</div>

<div *ngIf="view === 2">
    <adsk-forge-viewer [viewerOptions]="viewerOptions2d"
                    (onViewerScriptsLoaded)="setViewerOptions()"
                    (onViewingApplicationInitialized)="loadDocument($event)"
                    (onDocumentChanged)="documentChanged($event)"
                    (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer>
</div>

<div *ngIf="view === 3">
    <adsk-forge-thumbnail [thumbnailOptions]="thumbnailOptions"></adsk-forge-thumbnail>
</div>
