::ng-deep .my-view-front-button {
  background: red;
}
::ng-deep .my-view-back-button {
  background: blue;
}
::ng-deep .my-view-panel-button {
  background: green;
}

.viewer1, .viewer2 {
  width: 50vw;
  height: 100vh;
  display: block;
  position: relative;
}
