<div>
  <button (click)="view = 1">3D</button>
  <button (click)="view = 2">2D</button>
  <button (click)="view = 3">Thumbnail</button>
  <button (click)="view = 4">2 Viewers</button>
  <button (click)="view = 5">Multiple models</button>
</div>

<div id="3D" *ngIf="view === 1">
  <adsk-forge-viewer [viewerOptions]="viewerOptions3d"
                     (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer>
</div>

<div id="2D" *ngIf="view === 2">
  <adsk-forge-viewer [viewerOptions]="viewerOptions2d"
                     (onDocumentChanged)="documentChanged($event)"
                     (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer>
</div>

<div id="Thumbnail" *ngIf="view === 3">
  <adsk-forge-thumbnail [thumbnailOptions]="thumbnailOptions"></adsk-forge-thumbnail>
</div>

<div id="MultipleViewers" *ngIf="view === 4">
  <div style="float:left; width: 49vw;">
    <h2>Viewer 1</h2>
    <adsk-forge-viewer [viewerOptions]="viewerOptions3d"
                      (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer>
  </div>
  <div style="float:right; width: 49vw;">
    <h2>Viewer 2</h2>
    <adsk-forge-viewer [viewerOptions]="viewerOptions2d"
                      (onDocumentChanged)="documentChanged($event)"
                      (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer>
  </div>
</div>

<div id="multiple" *ngIf="view === 5">
  <adsk-forge-viewer [viewerOptions]="viewerOptions3d"
                     (onSelectionChanged)="selectionChanged($event)"></adsk-forge-viewer>
</div>
